@media screen and (max-width: 1820px) {
    body{
        max-width: 1650px;
    }
}

@media screen and (max-width:1650px){
    body{
        max-width: 1500px;
    }
    
}

@media screen and (max-width:1550px){
    body{
        max-width: 1450px;
    }
    
}

@media screen and (max-width:1400px) {
    body{
        max-width: 1350px;
    }
}

@media (max-width: 1200px){
    body{
        max-width: 1150px;
    }
    .header_row{
        flex-direction: column;

    }
    .img_container img{
        margin: auto;
        width: 100%;
    }
    .img_container::after{
        transform: translate(-6%, -87%);
        overflow: hidden;
}

@media (max-width: 900px){
    body{
        max-width: 850px;
    }
    .header_row{
        flex-direction: column;
    }
    .img_container{
        align-items: center;
        text-align: center;
    }
    .img_container img{
        margin: auto;
    }
    .article_row{
        flex-direction: column;
    }
    .article_content{
        padding: 40px 0 25px;
    }
    .article_col_left{
        position: relative;
        padding: 0 80px;
    }
}








@media screen and (max-width:360px) {
    .header_row{
        flex-direction: column;
        text-align: center;
    }
    .head_container p{
        text-align: center;
        font-size: 14px;
    }
    .right_header_row_col button{
        margin: auto;
    }
    .img_container{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .img_container img{
        width: 100%;
    }
    .article_col_left {
        flex-direction: column;
        padding-left: 100px;
        margin: 45px;
    }

}

@media screen and (max-width:375px){
    body{
        width: 360px;
    }
    .nav_bar{
        display: inline-flex;
        justify-content: center;
        
    }
    .img_container{}
    .img_container img{
        max-width: 250px;
    }
    .right_header_row_col{
    padding: 36px 20px 36px;
}
    .nav_bar ul li a{
        flex-direction: row;
    }
    .header_row{
        width: 360px;
        padding: 10px 20px;
    }
    .left_header_row_col{
        display: block;
        flex-wrap: wrap;
        padding: 10px 2%;
    }

    .article_content h1{
        font-size: 22px;
    }
    .article_content p{
        font-size: 14px;
    }
    .article_col_left{
        padding: 25px 5px;
    }
    .review_col{
        padding: 0 5px;
        padding-top: 20px;
    }
    .review_col_3{
        padding: 10px 5px;
        margin: 10px 0;
    }

    .event_row{
        flex-direction: column;
        padding: 20px 0;
    }


    .event_content h1{
        font-size: 22px;
    }
    .event_content p{
        font-size: 14px;
    }

    .event_img_2{
    padding-bottom: 50px;
}

    .footer_row{
        flex-direction: column;
    }
    .footer_left_col h1{
        font-size: 15px;
    }
    .footer_left_col p{
        font-size: 14px;
    }
    form label{
        font-size: 16px;
    }
    .under_line{
        margin: 22px;
        padding: 20px 10px 0;
        font-size: 6px;
    }
    form button{
        font-size: 14px;
    }
    .event_content{
    padding-bottom: 50px;
}
    .head_container h1{ 
    font-size: 25px;
}
    .btn{
    padding: 10px 20px;
    font-size: 14px;
    }
    .nav_bar{

    }
    article::before {
        content: url(./img/Group4.png);
        position: absolute;
        transform: translateY(0%);
        z-index: -1;
    }
    footer{
    margin-top: 15px;
    }

    .right_header_row_col img{
        width: 100%;
    }

    .img_container img {
        width: 56%;
        object-fit: cover;
        object-position: center;
        height: 277px;
        max-width: 227px;
        margin-left: auto;
        margin: 20px 20px;
        min-width: 220px;
    }
    section {
        margin-top: 50px;
        padding: 0 60px;
        position: relative;
    }
    .footer_logo h2{
        font-size: 18px;
    }

    .review_col h3{

    font-size: 16px;

}
    .review_col p{
        
    font-size: 12px;
    }
    .head_container{
        padding-bottom: 25px;
    }

    footer{
        padding: 40px;
    }
    

}